<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <div id="root">
            <input v-model="item" type="text" name="" value="">
            <button @click="add_item" type="button" name="button">Invio</button>
            <p v-for="(item, indice) in array_items" @click="remove_item(indice)">{{item}}</p>
            <!-- <div class="cont">
                <div class="prev">
                    <i @click="prev_f" class="fas fa-angle-left fa-3x"></i>
                </div>
                <div class="slide">
                    <img :src="immagini[index]" :alt="testo">
                </div>
                <div class="next">
                    <i @click="next_f" class="fas fa-angle-right fa-3x"></i>
                </div>
                <div class="pallini">
                    <span v-for="(pallino, indice) in immagini"
                    v-bind:class="indice == index ? 'active' : null"
                    @click="set_img(indice)"></span>
                     al click passiamo il valore indice dello span corrente attraverso la funzione
                </div>
            </div> -->
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
